{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prittier", "react-hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
